body {
  background-color: tan;
  height: 100vh;
  margin: 0;
}
.container {
  width: 50rem;
  margin: 0 auto;
}
input {
  display: none;
}
.images {
  display: flex;
  justify-content: space-between;
  gap: 30rem;
  overflow: hidden;
}
img {
  width: 50rem;
  height: 72.2222vh;
}
.switchers label {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  background-color: white;
  cursor: pointer;
  margin: 0.7rem;
}
.wrapper,
.texts,
.switchers {
  display: flex;
  justify-content: space-between;
}
.wrapper {
  flex-wrap: wrap;
  margin-top: 2rem;
}
.text_overflow {
  width: 15rem;
  overflow: hidden;
}
.texts {
  width: 75rem;
  height: fit-content;
  overflow: hidden;
}
.text {
  width: 15rem;
  height: fit-content;
  font-size: 1.5rem;
  color: aliceblue;
  text-align: center;
}
